<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Js2</title>
  </head>
  <script src="web.js"></script>
  <body>
    <h2>0</h2>
    <button>Count</button>
    <form>
      <input autofocus id="name" placeholder="Name"type="text">
      <input type="submit">
    </form>
    <h1 id="hello">Hello</h1>
    <button id="red" class="color_button" data-color="red">Red</button>
    <button id = "green" class="color_button" data-color="green">Green</button>
    <button id = "blue" class ="color_button" data-color="blue">Blue</button>

    <select>
      <option value="black">Black</option>
      <option value="red">Red</option>
      <option value="green">Green</option>
      <option value="blue">Blue</option>
    </select>
  </body>
</html>
