{% extends "home/layout.html" %}
{% load static %}
{% block title %}
  <title>Minerva - {{class_page.department}} {{class_page.number}}</title>
  <link rel="stylesheet" href="{% static 'home/styles.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}

 <h1 style="font-family: 'Actor', Arial;">{{class_page.department}} {{class_page.number}} Tutors</h1>
  <div id = "tutor-profiles">

  {% for tutor in tutors %}
    <div class="card">
        <img src="{% static 'images/minerva_logo.png' %}" alt="Avatar" style="width:100%" href="https://google.com">
        <div class="container-info" >
            <h4><a href="{% url 'home:tutor' tutor.id %}">{{tutor.first_name}} {{tutor.last_name}}</a></h4>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <p>{{tutor.why_GT}}</p>
                <p>${{tutor.rate}}</p>
        </div>
    </div>
  {% endfor %}
  </div>
    {% endblock %}
  <!--display available tutor profiles-profile picture, name, rating, rate -->
  <!--Course materials acquired from university -->
