{% extends "home/layout.html" %}
{% load static %}
{% block title %}
    <title>Minerva - Tutoring</title>
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/michigan/michigan.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src={% static 'home/index.js' %}></script>
{% endblock %}

{% block body %}

<div class="container-nav-home">
  <div class="nav-wrapper">
    <div class="left-side">
      <div class="logo-wrapper">
        <div> <img class="logo_image" src="{% static 'images/minerva_logo.png' %}" alt="Minerva Logo"> </div>
      </div>
    </div>
    <div class="right-side">

    {% if tutor_is_there %}
      <div class="nav-link-wrapper">
          <a href="{% url 'home:registration'%}">My Profile</a>
      </div>
    {% endif %}
      <div class="nav-link-wrapper">
        <a href="#students-container">For Students</a>
      </div>
      <div class="nav-link-wrapper">
        <a href="#tutors-container">For Tutors</a>
      </div>
      <div class="nav-link-wrapper">
        {% if request.user.is_authenticated %}
          <a href="{% url 'home:logout' %}">Sign Out</a>
        {% else %}
          <a href="{% url 'home:login' %}">Sign In</a>
        {% endif %}
      </div>
      <!--<div class="nav-link-wrapper">
          <a href= ></a>
      </div>-->



    </div> <!--right side-->
    <div class="mobile-nav">
        <a href="javascript:void(0);" class="icon">
            <i class="fa fa-bars"></i>
   </a>
   </div>
  </div> <!--nav bar-->
  <div class="home-wrapper">
      <h1><span>M</span>INERVA</h1>
      <h3 class="tag-line">By UofM students, </h3>
      <h3 class="tag-line">For UofM students.</h3>
  </div>
</div> <!--container-->


<!-- students page begins here-->
<div id="students-container">
    <h1 class="section-header">For Students</h1>
    <span>Click below to find tutors for your classes!</span>
    <div id="classes">
        {% for class in classes %}
            <div class="class"><a href="{% url 'home:class' class.url %}">{{class.department}} {{class.number}}</a></div>
        {% endfor %}
    </div>
</div>
<div id="tutors-container">
    <h1 class="section-header">For Tutors</h1>
    <span> Join our website as a tutor and let us bring you University of Michigan students looking for you! All you have to do is make a profile, input your calendly, and persuade us with a series of questions why you are the best tutor :)
*We do have a $5 monthly subscription to appear on our website...venmo @ellied monthly to keep your profile up on our site*</span>

</div>
<!-- ABOUT PAGE BEGINS HEREEEEEEEE -->
<div class="about-container">

    <h1 class="section-header"> About Us </h1>
    <span>Sleep deprived? Co-dependent on coffee? Cramming the night before the test? Saying a Hail Mary that the few things you memorized will be on the test? Constantly contemplating dropping out of school because of your GPA? We know your pain. As a group of 5 fellow University of Michigan students we've been in your place a few too many times. We found in our struggles we couldn’t even find the academic help we needed when we needed it (meaning when we were in panic mode a few days prior to a test). Frankly, we were just too lazy to aimlessly find a tutor through Facebook or word of mouth so we decided to take out the work for you. Welcome to Minerva, find all fellow University of Michigan tutors in one place for the class you need. For UofM students, by UofM students.
    </span>

    <p>Any questions? Contact us at elizaday@umich.edu for more information!</p>

</div>
<!-- ABOUT PAGE ENDSS HEREEEEEE -->
<footer> &copy Minerva 2020 | elizaday@umich.edu </footer>
{% endblock %}
