{% extends "home/layout.html" %}
{% load static %}
{% block title %}
    <title>Minerva - {{tutor.first_name}} {{tutor.last_name}}</title>
    <link rel="stylesheet" href="{% static 'home/tutors.css' %}">
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
{% endblock %}

{% block body %}
    <div class="profile-container">
        <h1>{{tutor.first_name}} {{tutor.last_name}}</h1>
        <div class="bottom-container">
            <div class="left">
                {% if tutor.profile_pic %}
                    <img src="{{ tutor.profile_pic.url }}" alt="tutor profile pic" width="50%">
                {% else %}
                    <img src="{% static 'images/minerva_logo.png'%}" alt="tutor profile pic" width="50%">
                {% endif %}
            </div>
            <div class="right">
                <p>My Calendly: <a href="{{tutor.calendly}}">{{tutor.calendly}}</a></p>
                <p> My Rate: ${{tutor.rate}}</p>
                <h3>Why I would make a Good Tutor</h3>
                <p>{{tutor.why_GT}}</p>
                <h3>What is my favorite activity to do in Ann Arbor</h3>
                <p>{{tutor.what_fav}}</p>
                <h3>Best Study Spot in Ann Arbor</h3>
                <p>{{tutor.best_spot}}</p>
                <h3>Some Other Interesting Facts</h3>
                <p>{{tutor.any_interesting}}</p>
            </div>
        </div>


    </div>




{% endblock %}
