:root {
    --link-color: black;
}
body {
    background-color: yellow;
    margin: 0px;
}

.container-nav {
    display: grid;
    grid-template-columns: 1fr;
}
/*NAV BAR */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.right-side {
    display: flex;
}

.right-side > div {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;

}

.nav-link-wrapper {
    height: 25px;
    width: 120px;
    border: 1px solid black;
    border-radius: 5px;
    /* display: flex; */
    align-items: center;
    /* justify-content:space-around; */
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
    transition: background-color 5.s;
    transition: --link-color 0.5s;


}

.nav-link-wrapper a {
    width: 125px;
    text-decoration: none;
    color: var(--link-color);
    text-align: center;,
    transition: color 0.5s;

}

.nav-link-wrapper:hover {
    background-color: black;
    --link-color: rgb(255, 218, 56)
}

/*.nav-link-wrapper a:hover {
    color: yellow;
}*/

/*Home Block 1*/
.home-wrapper {
    text-align: right;
    font-family: Georgia, sans-serif;

}
.home-wrapper h1 {
    color: blue;
}

.home-wrapper .tag-line {
    margin-block-start: 0;
    margin-block-end: 0;
    /*margin-inline-start: 0;
    margin-inline-end: 0;*/
}
