{% extends "home/layout.html" %}

{% block title %}
    <title>Minerva - Tutoring</title>
{% endblock %}

{% block body %}
<div class="container-nav">
  <div class="nav-wrapper">
    <div class="left-side">
      <div class="logo">
        <div> Minerva </div>
      </div>
    </div>
    <div class="right-side">
      <div class="nav-link-wrapper">
        <a href="">For Students</a>
      </div>
      <div class="nav-link-wrapper">
        <a href="">For Tutors</a>
      </div>
      <div class="nav-link-wrapper">
          <a href="">Sign In</a>
      </div>
      <!--<div class="nav-link-wrapper">
          <a href= ></a>
      </div>-->

    </div>
  </div>
</div>
{% endblock %}
