{% extends "home/layout.html" %}
{% load static %}
{% block title %}
    <title>Minerva - Tutoring</title>
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
{% endblock %}

{% block body %}
<div class="container-nav">
  <div class="nav-wrapper">
    <div class="left-side">
      <div class="logo">
        <div> Logo </div>
      </div>
    </div>
    <div class="right-side">
      <div class="nav-link-wrapper">
        <a href="">For Students</a>
      </div>
      <div class="nav-link-wrapper">
        <a href="">For Tutors</a>
      </div>
      <div class="nav-link-wrapper">
          <a href="{% url 'home:login' %}">Sign In</a>
      </div>
      <!--<div class="nav-link-wrapper">
          <a href= ></a>
      </div>-->

    </div> <!--right side-->
  </div> <!--nav bar-->
  <div class="home-wrapper">
      <h1>MINERVA</h1>
      <h3 class="tag-line">By UofM students,</h3>
      <h3 class="tag-line">For UofM students.</h3>
  </div>
</div> <!--container-->
{% endblock %}
