{% extends "home/layout.html" %}
{% load static %}
{% block title %}
    <title>Minerva - Tutoring</title>
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
<div class="container-nav">
  <div class="nav-wrapper">
    <div class="left-side">
      <div class="logo">
        <div> Logo </div>
      </div>
    </div>
    <div class="right-side">
      <div class="nav-link-wrapper">
        <a href="">For Students</a>
      </div>
      <div class="nav-link-wrapper">
        <a href="">For Tutors</a>
      </div>
      <div class="nav-link-wrapper">
          <a href="{% url 'home:login' %}">Sign In</a>
      </div>
      <!--<div class="nav-link-wrapper">
          <a href= ></a>
      </div>-->

    </div> <!--right side-->
  </div> <!--nav bar-->
  <div class="home-wrapper">
      <h1>MINERVA</h1>
      <h3 class="tag-line">By UofM students,</h3>
      <h3 class="tag-line">For UofM students.</h3>
  </div>
</div> <!--container-->
<!-- ABOUT PAGE BEGINS HEREEEEEEEE -->
<div class="about-container">

    <h1 class="section-header"> About Us </h1>
    <h2> Why </h2>
    <span> Type Random Content Here. Maybe you want to add some h2s or h3s to say "Why?", "How?", and "What?"</span>
    <h2> How </h2>
    <span> Type Random Content Here. Maybe you want to add some h2s or h3s to say "Why?", "How?", and "What?"</span>
    <h2> What </h2>
    <span> Type Random Content Here. Maybe you want to add some h2s or h3s to say "Why?", "How?", and "What?"</span>
</div>
<!-- ABOUT PAGE ENDSS HEREEEEEE -->
{% endblock %}
