<!-- creates a login form -->
{% extends "home/layout.html" %}
{% load static %}
{% block title %}
    <title>Minerva - Login</title>
    <link rel="stylesheet" href="{% static 'home/login.css' %}">
{% endblock %}

{% block body %}
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}


<div class="form-containter">
    <form action={% url 'home:login' %} method="post">
      {% csrf_token %}
  <div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="bottom-container" >
    <button type="button" class="cancelbtn" >
      <a href= "{% url 'home:index' %}">Cancel</a>
    </button>
    <a class="psw" href="#"> Forgot Password? </a>
  </div>
  <div class="bottom-most-container">
      <p>
          Don't Have an Account?
          <a href= "#"> Sign Up Here! </a>
      </p>
  </div>
</form>
</div>
{% endblock %}
