
:root {
    --blue: darkblue/*#1342AE*/;
}
/* bordered form */
form {
  margin-top: 10px;
  border: 5px solid var(--blue);
}

/*screen-width text boxes*/
@media (min-width: 551px){
  /* entering login form */
  body{
      /*
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
  }

  input[type = text], input[type = password] {
    width: 100% ;
    padding: 20px 20px;
    margin: 6px 2px;
    display: inline-block;
    border:  2px solid #000000;
    box-sizing: border-box;
  }
  button{
    background-color: var(--blue);
    color: white;
    padding: 22px 20px;
    margin: 6px 2px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  form{
    margin: auto;
    width: 30%;
    width: 524px;
  }
}

@media (max-width: 550px){
  input[type = text], input[type = password] {
    width: 100% ;
    padding: 12px 20px;
    margin: 6px 2px;
    display: inline-block;
    border:  2px solid #000000;
    box-sizing: border-box;
  }
  button{
    background-color: var(--blue);
    color: white;
    padding: 12px 20px;
    margin: 6px 2px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
}


  /* hover effect for submit button */
  button: hover {
    opacity: 0.9
  }

  /* cancel button style */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #F44336;
  }

  /* center the avatar inside of container */
  .imgcontainer{
    text-align: center;
    margin: 24px 0 12px 0;
  }

  /* avatar image */
  img.avatar {
    width: 30%;
    border-radius: 50%;
  }

  /* Add padding to containers */
  .container {
    display: grid;
    grid-template-columns: auto;
    padding: 12px;
  }
  .bottom-container {
    padding: 12px;
    padding-bottom: 0px;
    /*padding-bottom: 0px;*/
    background-color: var(--blue);
    color:white;

  }

  .bottom-container a, .bottom-most-container a{
    color: white;

  }

  .bottom-most-container {
    background-color: var(--blue);
    color:white;
    padding-top:1px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 1px;

  }
  /* "Forgor password" text prompt */
  span.psw{
    float: right;
    padding-top: 12px;
  }

  /*change styles for span and cancel for small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
  button a{
    text-decoration: none;
    color: white;
  }
